/* common style / utility */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.f-l {
  float: left;
}

.f-r {
  float: right;
}

.xs-hidden {
  display: none;
}

/* fine common style / utility */

/* stili body */

.wrapper-container-page {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.body-container {
  width: 100%;
  height: calc(100% - 70px);
  z-index: -99999999;
}

/* stili contenitore menu */

.sidebar-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 40px;
  background: #000;
  color: rgb(102, 102, 102, 0.7);
  padding: 0 5px;
}

 .sidebar-container li:hover {
  color: #fff;
  cursor: pointer;
}

.box-menu {
  height: 100%;
  width: 100%;
  text-align: center;
}

.logo{
  margin: 5px 0 0px;
  height: 25px;
}

.menu li:nth-child(1) {
  color: #fff;
  font-weight: bold;
}

.menu li p {
  padding: 0px 8px;
  font-size: 12px;
  font-weight: bold;
}

.menu li img {
  margin: 5px 0;
  height: 22px;
  vertical-align: middle;
}

.playlist-title li:first-child {
  padding: 10px 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.playlist-title li:nth-child(2) i {
  font-size: 35px;
  vertical-align: middle;
  padding-right: 5px;
}

.playlist-title li:nth-child(2){
  font-size: 12px;
  font-weight: bold;
}

.box-playlist {
  height: 100%;
  padding: 10px 0;
  min-height: 100px;
  overflow: auto;
}

.box-playlist li {
  padding: 5px 0;
  font-size: 12px;
  font-weight: bold;
}

.box-bottom > div {
   padding: 10px 0;
}

.app-install img {
  margin-left: 6px;
  height: 15px;
}

.app-install p {
  font-size: 12px;
  font-weight: bold;
}

.app-install p:hover{
  cursor: pointer;
  color: #fff;
}

.profile-img {
  background: #808080;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  overflow: hidden;
  margin: 0 auto;
}

.profile p {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

/* fine stili contenitore menu */

/* stili contenitore contenuti principali */

.main-container {
  height: 100%;
  width: calc(100% - 40px);
  background: #141922;
}

/* fine stili contenitore contenuti principali */

/* stili sezione barra di controllo */

.control-bar-container {
  height: 70px;
  width: 100%;
  background: #282828;
}

/* fine stili sezione barra di controllo */

/* fine stili body */

/* MEDIA QUERY SM */

@media screen and (min-width:576px) {

  .sm-hidden {
    display: none;
  }

  .sm-visible {
    display: inline-block;
  }

  .sidebar-container  {
    width: 190px;
    padding: 0 15px;
  }
  .main-container {
    width: calc(100% - 190px);
  }

  /* stili contenitore menu */

  .box-menu {
    text-align: left;
    height: auto;
  }

  .logo{
    margin: 20px 0 20px;
    height: 40px;
  }

  .menu li {
    margin: 3px 0;
  }

  .menu li img {
    height: 22px;
    margin: inherit;
  }

  .app-install {
    border-bottom: 1px solid #404040;
  }

  .app-install img {
    margin-left: 0px;
    margin-right: 7px;
    vertical-align: middle;
  }

  .profile-img {
    display: inline-block;
    margin-right: 7px;
    vertical-align: middle;
  }


  /* finestili contenitore menu */





}

/* FINE MEDIA QUERY SM */

/* MEDIA QUERY MD */

@media screen and (min-width:768px) {







}

/* FINE MEDIA QUERY MD */

/* MEDIA QUERY LG */

@media screen and (min-width:992px) {







}

/* FINE MEDIA QUERY LG */
