/* common style / utility */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.f-l {
  float: left;
}

.f-r {
  float: right;
}

.xs-hidden {
  display: none;
}

/* fine common style / utility */

/* stili body */

.wrapper-container-page {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.body-container {
  width: 100%;
  height: calc(100% - 70px);
  z-index: -99999999;
}

/* stili contenitore menu */

.sidebar-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 40px;
  background: #000;
  color: #fff;
  padding: 0 5px;
}

.box-menu {
  height: 100%;
  width: 100%;
  text-align: center;
}

.box-menu > img{
  margin: 5px 0 0px;
  height: 25px;
}

.menu li {
  display: flex;
  align-items: center;
  margin: 7px 0;
}

.menu li p {
  padding: 0px 8px;
  font-size: 13px;
}

.menu li img {
  height: 22px;
  margin: auto;
}


.box-bottom {
  align-self: flex-end;
  width: 100%;
}

.box-bottom div {
   display: flex;
}

.box-bottom img {
  height: 15px;
}

.box-playlist {
  height: 100%;
  min-height: 100px;
  background:green;
  overflow: auto;
}

/* fine stili contenitore menu */

/* stili contenitore contenuti principali */

.main-container {
  height: 100%;
  width: calc(100% - 40px);
  background: #944dff;
}

/* fine stili contenitore contenuti principali */

/* stili sezione barra di controllo */

.control-bar-container {
  height: 70px;
  width: 100%;
  background: #404040;
}

/* fine stili sezione barra di controllo */

/* fine stili body */

/* MEDIA QUERY SM */

@media screen and (min-width:576px) {

  .sm-hidden {
    display: none;
  }

  .sm-visible {
    display: inline-block;
  }

  .sidebar-container  {
    width: 190px;
    padding: 0 15px;
  }
  .main-container {
    width: calc(100% - 190px);
  }

  /* stili contenitore menu */

  .box-menu {
    text-align: left;
    height: auto;
  }

  .box-menu > img{
    padding-top: 10px;
    height: 45px;
  }

  .menu li {
    margin: 3px 0;
  }

  .menu li img {
    height: 22px;
    margin: inherit;
  }





}

/* FINE MEDIA QUERY SM */

/* MEDIA QUERY MD */

@media screen and (min-width:768px) {







}

/* FINE MEDIA QUERY MD */

/* MEDIA QUERY LG */

@media screen and (min-width:992px) {







}

/* FINE MEDIA QUERY LG */
