/* common style / utility */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.f-l {
  float: left;
}

.f-r {
  float: right;
}

.xs-hidden {
  display: none;
}

.rounded {
  border-radius: 50%;
}
.hover:hover {
  color: #fff;
  cursor: pointer;
}

.album-cover {
  position: relative;
}

.album-cover i {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 60px;
  display: none;
}

.album-cover:hover i {
  display: block;
}

.album-cover:hover img {
  filter:brightness(50%);
}

.progress-bar {
  width: 100px;
  height: 3px;
  background: #808080;
  border-radius: 20px;
  margin: 0 5px;
}

.fill {
  position: relative;
  height: 100%;
  width: 40%;
  background: #fff;
  border-radius: 20px;

}

.fill::after {
  content: '';
  position: absolute;
  top: -3px;
  right: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #808080;
  display: none;
}

.progress-bar:hover .fill {
  background: greenyellow;
  cursor: pointer;
}

.progress-bar:hover .fill::after {
  display: block;
}

/* fine common style / utility */

/* stili body */

.wrapper-container-page {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.body-container {
  width: 100%;
  height: calc(100% - 70px);
  z-index: -99999999;
}

/* stili contenitore menu */

.sidebar-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 40px;
  background: #000;
  color: rgb(102, 102, 102, 0.7);
  padding: 0 5px;
}

 .sidebar-container li:hover {
  color: #fff;
  cursor: pointer;
}

.box-menu {
  height: 100%;
  width: 100%;
  text-align: center;
}

.logo{
  margin: 5px 0 0px;
  height: 25px;
}

.menu li:nth-child(1) {
  color: #fff;
  font-weight: bold;
  /* margin-left: -15px;
  padding-left: 27px;
  border-left: 3px solid greenyellow; */
}

.menu li p {
  padding: 0px 8px;
  font-size: 12px;
  font-weight: bold;
}

.menu li img {
  margin: 5px 0;
  height: 22px;
  vertical-align: middle;
}

.playlist-title li:first-child {
  padding: 10px 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.playlist-title li:nth-child(2) i {
  font-size: 35px;
  vertical-align: middle;
  padding-right: 5px;
}

.playlist-title li:nth-child(2){
  font-size: 12px;
  font-weight: bold;
}

.box-playlist {
  height: 100%;
  padding: 10px 0;
  min-height: 100px;
  overflow: auto;
}

.box-playlist li {
  padding: 5px 0;
  font-size: 12px;
  font-weight: bold;
}

.box-bottom > div {
   padding: 10px 0;
}

.app-install img {
  margin-left: 6px;
  height: 15px;
}

.app-install p {
  font-size: 12px;
  font-weight: bold;
}

.profile-img {
  background: #808080;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  overflow: hidden;
  margin: 0 auto;
}

.profile p {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

/* fine stili contenitore menu */

/* stili contenitore contenuti principali */

.main-container {
  height: 100%;
  width: calc(100% - 40px);
  background: #141922;
  overflow-y: auto;
}

.main-container::-webkit-scrollbar {
  display: none;
}

/* stili contenitore pulsante unpgrade */

.section-upgrade {
  width: calc(100% - 40px);
  position: fixed;
  z-index: 99999999;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: right;
}

.section-upgrade button {
  background: rgba(0, 0, 0, 0.0);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 30px;
  margin: 10px 10px 15px;
}

.section-upgrade button:hover {
  transform: scale(1.1);
}

/* stili contenitore pulsante unpgrade */

/* stili navbar sezione album */

.navbar-album {
  text-align: center;
  padding: 15px 0;
  margin-top: 50px;
}

.navbar-album ul li{
  display: inline-block;
  text-transform: uppercase;
  font-size: 11px;
  color: #808080;
  font-weight: bold;
  padding: 0 10px;
  height: 30px;
}

.navbar-album ul li:hover {
  color: #fff;
}

.navbar-album ul li a:after {
  content: '';
  display: none;
  border: 1px solid greenyellow;
  width: 25px;
  margin: 0 auto;
  margin-top: 4px;
}

.navbar-album ul li:hover a:after {
  display: block;
}

/* stili navbar sezione album */

/* stili sezione album */

.section-album {
  padding: 0 15px;
}

.row-album {
  display: flex;
  flex-wrap: wrap;
}

.title-row {
  width: 100%;
  padding: 15px 0 15px;
}

.title-row h2{
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  width: 100%
}

.title-row p {
  color: #808080;
  font-size: 10px;
  font-weight: bold;
  padding: 5px 0;
}

.col-album {
  width: calc(100% / 2);
  padding: 10px 5px 10px 0;
  text-align: center;
}

.col-album img {
  width: 100%;
}

.col-album h3 {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 7px 0;

}

.col-album p {
  color: #808080;
  font-size: 10px;
  font-weight: bold;
}

/* fine stili sezione album */

/* fine stili contenitore contenuti principali */

/* stili footer-sezione barra di controllo */

.control-bar-container {
  height: 70px;
  width: 100%;
  background: #282828;
  display: flex;
}


.footer-box-l {
  flex: 1;
  display: flex;
  align-items: center;
}

.footer-box-l img {
  height: 40px;
  margin: 0 10px;
}

.footer-box-l h3 {
  font-size: 11px;
  color: #fff;
  font-weight: bold;
}

.footer-box-l p {
  font-size: 9px;
  color: #808080;
  font-weight: bold;
  padding-right: 30px;
}

.icon {
  display: flex;
  flex-direction: column;
}

.footer-box-l i {
  color: #808080;
  font-size: 13px;
  padding: 2px 5px;
}

.footer-box-c{
  flex: 3;
  color: #fff;
}

.box-c-top {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 10px 0;
}

.box-c-top i {
  padding: 0 2%;
}

.box-c-top i:nth-child(3) {
  font-size: 25px;
}

.box-c-top i:nth-child(3):hover {
  transform: scale(1.3);
  cursor: pointer;
}

.box-c-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.box-c-bottom span {
  font-size: 10px;
  font-weight: bold;
}

.footer-box-r{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-box-r .progress-bar {
  width: 50%;
  min-width: 30px;
}

.footer-box-r i {
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
}

.box-c-bottom .progress-bar {
  width: 50%;
}

.box-c-bottom .fill {
  width: 25%;
}

/* fine stili footer-sezione barra di controllo */

/* fine stili body */

/* MEDIA QUERY SM */

@media screen and (min-width:576px) {

  .sm-hidden {
    display: none;
  }

  .sm-visible {
    display: inline-block;
  }

  .sidebar-container  {
    width: 190px;
    padding: 0 15px;
  }
  .main-container {
    width: calc(100% - 190px);
  }

  /* stili contenitore menu */

  .box-menu {
    text-align: left;
    height: auto;
  }

  .logo{
    margin: 20px 0 20px;
    height: 40px;
  }

  .menu li {
    margin: 3px 0;
  }

  .menu li:nth-child(1) {
    margin-left: -15px;
    padding-left: 27px;
    border-left: 3px solid greenyellow;
  }

  .menu li img {
    height: 22px;
    margin: inherit;
  }

  .app-install {
    border-bottom: 1px solid #404040;
  }

  .app-install img {
    margin-left: 0px;
    margin-right: 7px;
    vertical-align: middle;
  }

  .profile-img {
    display: inline-block;
    margin-right: 7px;
    vertical-align: middle;
  }

  /* fine stili contenitore menu */

  /* stili contenutore main */

  .section-upgrade {
    width: calc(100% - 190px);
  }

  /* finbe stili contenutore main */

  /* stili footer */

  .icon {
    flex-direction: row;
  }

}

/* FINE MEDIA QUERY SM */

/* MEDIA QUERY MD */

@media screen and (min-width:768px) {

  .col-album {
    width: calc(100% / 6);
    padding-right: 15px;
    min-width: 170px;
  }

}

/* FINE MEDIA QUERY MD */

/* MEDIA QUERY LG */

@media screen and (min-width:992px) {

}

/* FINE MEDIA QUERY LG */
